@use "../abstracts/" as *;

.btn {
  border: none;
  padding: .75rem 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: get-clamp(s);
  font-weight: 400;
  transition: opacity .3s ease-out;

  &:hover:not(:disabled) {
    opacity: .75;
  }
}