@use "../abstracts/" as *;

.carousel {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  &-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-btn-group {
    display: flex;
    gap: 2.5rem;
  }
}