@use "../abstracts/" as *;
@use "sass:color";

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  min-height: 75vh;

  &-figure {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, color.scale($primary, $lightness: -75%, $alpha: 90%), transparent);
  }

  &-img {
    flex-basis: 25rem;
  }

  &-box {
    position: relative;
    z-index: 3;
  }

  &-rating {
    position: relative;
    height: 5rem;
    width: 30rem;
  }

  &-stars {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  &-empty-stars {
    position: absolute;
    background-image: url("empty-stars.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  &-filled-stars {
    position: absolute;
    background-image: url("filled-stars.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}