@use "../abstracts/" as *;

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
  justify-content: start;
  
  @include mq(s) {
    flex-direction: column;
  }

  &-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  }
}
