@use "../abstracts/" as *;

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: minmax(15vh, auto) 1fr;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: get-clamp(s);
  overflow-x: hidden;
  font-size: get-clamp(s);

  @include mq(s) {
    grid-template-rows: 1fr minmax(7.5vh, auto);
  }
}

.header {
  position: relative;
  height: auto;

  @include mq(s) {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 15vh;
  }
}

.main {
  @include mq(s) {
    padding-left: 15vh;
  }
}

.footer {
  position: relative;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;

  @include mq(s) {
    display: flex;
  }
}
